<!DOCTYPE html>
<html>
    <head>
        <title>Feed</title>
        <link href= "style.css" rel="stylesheet" type="text/css" />        
    </head>
        <body>
            <table>
           
           

             <% empty.forEach(function(result){ %>
                
                <li><%= result.title %></li>
                <li><%= result.body  %></li>
                    <% }); %>

            </table>
        </body>
    <footer>
    </footer>
</html> 