<!DOCTYPE html>
<html>
    <head>
        <title>Feed</title>
        <link href= "style.css" rel="stylesheet" type="text/css" />

        
           
    </head>
    <body>
            <h1>Bulletin Board</h1>
            <% empty.forEach(function(result){ %>
                <li> <%= result.title %></li> 
                <li> <%= result.body %></li> 
                <% }); %>
    
    </body>
    <footer>
          
        </footer>
</html> 