<!DOCTYPE html>
<html>
    <head>
        <title>
            Bulletin Board
        </title>
        <link href= "/public/assets/stylesheet.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
            <ul class ="ul">
                    <li class= "li"><a class="active" href="#home">Home</a></li>
                    <li class= "li"><a href="#news">News</a></li>
                
            </ul>

        <h1>Bulletin Board</h1>
    <div class= "container">
        
            <div class ="form">
                <form action= '/index' method='post'>
                    <input type= "text" class= "input1" placeholder= "title" name='title'>
                    <br><br>
                    <input type= "text" class= "input2" placeholder= "body" name='body'>
                    <br><br>
                    <input type='submit' placeholder='submit'>
                </form>      
        </div>


    </body>
    <footer>
    </footer>
</html> 