

.container {
    display: flex; /* or inline-flex */
    flex-direction: row;
    justify-content: space-evenly;
    width: 100px;  /* Or whatever */
    height: 100px; /* Or whatever */
    margin: auto; 
    background-color: blue

  }

.form {

  flex-basis: 60%;
  width: 100px;  /* Or whatever */
  height: 100px; /* Or whatever */
  margin: auto; 

}

