

.container {
    flex-basis: 32%;
    height: 450px;
    margin: auto;
    padding-top: 41px;
    background-color: teal
  }

.form {

  flex-basis: 60%;
  width: 280px;  /* Or whatever */
  height: 100px; /* Or whatever */
  margin: auto; 

}

.input1 {
    width: 200px;
    height: 50%;

}

.input2 {
    width: 400px;
    height: 250px;

}

.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.li {
    float: left;
}

.li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.li a:hover {
    background-color: #111;