
html {
    border: 0; 
}


.container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 500px;
    overflow: scroll;
    background-color: #f4f7f3;

}


.parallax-a { 
    /* The image used */
    background-image: url("/public/images/tycho.jpg");
    height: 700px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.parallax-b {
        background-image: url("/public/images/image1.jpg");
        height: 700px; 
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

h1 {
 
    font-size: 38px;
    font-family: 'Inconsolata', monospace;
    margin-top: 70px;
    max-width: 279px;
    font-weight: lighter;
    color: #828a81;

}


  
.form-group {
     display: flex;
     justify-content: center;
     margin-top: 70px;
     
    
}

.input-a{
    width: 100%;
    height: 50px;
    text-align: center;
    font-family: 'Inconsolata', monospace;
    font-size: xx-large;
    box-shadow: 4px 4px #888888;
    

}

.input-b{
    width: 100%;
    height: 200px;
    text-align: center;
    font-family: 'Inconsolata', monospace;
    font-size: xx-large;
    box-shadow: 4px 4px #888888;


}

#submit{
    font-family: 'Inconsolata', monospace;
    background-color: rgb(163, 170, 163);
    font-size: 15px;
    color: #FFFFFF;
    width: 100px;
    text-align: center;
    display: block;
    margin: 0 auto;
    box-shadow: 4px 4px #888888;


}
    
#submit:hover, .input-a:hover, .input-b:hover {
        opacity: 0.3;
     
}

    /* BEFORE PAGE LOADS DISPLAY LOGO */

    .no-js #loader { display: none; 

    }

    .js #loader { display: block; position: absolute; left: 100px; top: 0; 

    } 

    .preLoad {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url("/public/images/moon.png") center no-repeat rgb(255, 255, 255);

}  
    
    /* nav bar*/
    
  
.navbar {
        margin-bottom: 0px;
       background-color: #f4f7f3;
}   
    
.burger {
        font-size: 30px;
        cursor: pointer;  
}

.sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 99999;
        top: 0;
        left: 0;
        background-color: white;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        font-family: 'Quicksand', sans-serif;
}

.sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 16px;
        color: black;
        display: block;
        transition: 0.3s;
        cursor: pointer;
}

.sidenav a:hover {
        color: #c4c0c0;
}

.sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
}

.sidenav {
            padding-top: 15px;
}

.sidenav a {
            font-size: 18px;
}


            /*NAV end */

.table{

        border-collapse: collapse;
        width: 50%;
        font-family: 'Quicksand', sans-serif;
        font-size: large;
        margin-top: 50px;
        margin-bottom: 50px;
        color: #494646;
        
}

    th, td {
            text-align: left;
            padding: 8px;
}

    tr:nth-child(even){
    background-color: #f2f2f2
}

    th {
    background-color: rgb(218, 204, 129);
    color: white;
}

    tr:hover {
        background-color: rgb(197, 195, 195);
}

    
.grid{
        height: 500px;
        width: 100%;
        display: grid;
        grid-template: 1fr 1fr / 1fr  1fr;

}

.box {
        border:none;
        
}

.a {
        grid-row: 1/2;
        grid-column: 1/2;
        background-color: #357f82;
       
}

.b {
        grid-row: 2 /3;
        grid-column: 1/2;
        background-color: #e8716d;
}


.c {
        grid-row: 1/2;
        grid-column: 2 / 3;
        background-color: #ec8481;
}


.d {
        grid-row: 2/3;
        grid-column: 2/3;
        background-color: #357f82;
       


}
    .heading-grid-content-green{
        display: flex;
        justify-content: center;
        font-family: 'Quicksand', sans-serif;
        font-size: 50px;
        color: #ec8481;
}

    .heading-grid-content{
        display: flex;
        justify-content: center;
        font-family: 'Quicksand', sans-serif;
        font-size: 50px;
        color: #357f82;

 }
    



