
html{
    border: 0; 
}


.parallax-a { 
    /* The image used */
    background-image: url("tycho.jpg");
    height: 700px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.parallax-b {
        background-image: url("image1.jpg");
        height: 700px; 
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

h1{
 
    font-size: 38px;
    font-family: monospace;
    margin-top: 70px;
    max-width: 279px;
    font-weight: lighter;
    color: #828a81;

}


.container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 500px;
    overflow: scroll;

}
  
.form-group {
     display: flex;
     justify-content: center;
     margin-top: 70px;
    
}

.input-a{
    width: 100%;
    height: 50px;
    text-align: center;
    font-family: monospace;
    font-size: xx-large;
    

}

.input-b{
    width: 100%;
    height: 200px;
    text-align: center;
    font-family: monospace;
    font-size: xx-large;


}

#submit{
    font-family: monospace;
    background-color: rgb(163, 170, 163);
    font-size: 15px;
    color: #FFFFFF;
    width: 100px;
    text-align: center;
    display: block;
    margin: 0 auto;


    }
    
    #submit:hover, .input-a:hover, .input-b:hover {
        opacity: 0.3;
     
    }

    /* BEFORE PAGE LOADS DISPLAY LOGO */

    .no-js #loader { display: none;  }
    .js #loader { display: block; position: absolute; left: 100px; top: 0; } 
    .preLoad {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url("/public/assets/moon.png") center no-repeat rgb(255, 255, 255);
    
    
    /* nav bar*/
    
  }  .navbar {
        padding: 20px 0px;
        margin-bottom: 0px;
        background-color: white;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.14);

  }   .logo {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    

    .burger {
        font-size: 30px;
        cursor: pointer;


        
    }


    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 99999;
        top: 0;
        left: 0;
        background-color: white;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        font-family: monospace;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 16px;
        color: black;
        display: block;
        transition: 0.3s;
        cursor: pointer;
    }

    .sidenav a:hover {
        color: #c4c0c0;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

        .sidenav {
            padding-top: 15px;
        }

        .sidenav a {
            font-size: 18px;
        }

            /*NAV end */


        .table{

            border-collapse: collapse;
            width: 50%;
            font-family: monospace;
            font-size: large;
            margin-top: 50px;
            margin-bottom: 50px;
        
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even){
            background-color: #f2f2f2
        }

        th {
            background-color: rgb(218, 204, 129);
            color: white;
        }

        tr:hover {
                background-color: rgb(197, 195, 195);
            }






